
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

body, html {
  height: 100%
}

body, html {
  height: 100%;
  margin: 0;
}

.bgimg {
  background-image: url('../images/background.jpg');
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.logo {
  top: 0;
  left: 300px;
}

.middle {
  position:absolute;
  top: 50%;
  left: 50%;  
  text-align: center;
  transform: translate(-50%, -50%);
}

.middle-h1 {
  color: #fcba12;
  font-family: 'Archivo Black', sans-serif;
  font-size: 50px;
}

.middle-h2 {
  color: #fcba12;
  font-family: 'Archivo Black', sans-serif;
  font-size: 55px;
  text-transform: uppercase;
}

.text-black {
  color: #000;
}

hr {
  margin: auto;
  width: 40%;
}